body{
    margin: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.navbar {
    overflow: hidden;
    background-color: #333;
  }
  
  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .navbar a:hover {
    background: #ddd;
    color: black;
  }
  
  .navbar .icon {
    display: none;
  }
  

  @media screen and (max-width: 600px) {
    body{
        margin: 0px 85px 85px 85px;
    }
  }

/* small devices (portrait tablets and large phones , 600px and up)*/
@media screen and (min-width:600px){
    body{
     margin: 0px 100px 100px 100px;
    }
  }

  @media screen and (max-width: 600px) {
    .navbar a:not(:first-child) {display: none;}
    .navbar a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .navbar.responsive {position: relative;}
    .navbar.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
      
    }
    .navbar.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }